* {
  box-sizing: border-box;
}

.healthbar {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.health {
  background-color: yellow;
}

.timer {
  background-color: red;
  height: 100px;
  width: 100px;
  flex-shrink: 0;
  border-radius: 50%;
}
