<head>
  <link rel="manifest" href="../manifest.json" />
  <link rel="shortcut icon" type="image/x-icon" href="../logo.png" />
  <title>AnimeXfusion</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.1.2/howler.core.min.js"></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
  <link rel="stylesheet" href="../styles/styles.css" />
</head>
<body>
  <div class="gameContainer">
    <!-- healthbar -->
    <div id="gameBox">
      <div id="countdownBox"></div>
      <div class="statusBar">
        <div class="statusBarContainer" style="align-items: flex-start">
          <!-- Player Health -->

          <div class="energyBarContainer">
            <div class="healthBar"></div>
            <div id="playerHealth" class="healthLevel"></div>
          </div>

          <!-- Player Energy -->

          <div class="energyBarBox">
            <div class="energyBar"></div>
            <div id="playerEnergy" class="energyLevel"></div>
          </div>
        </div>

        <!-- Timer -->
        <div id="timer" class="timer">00</div>

        <div class="statusBarContainer" style="align-items: flex-end">
          <!-- Enemy Health -->

          <div class="energyBarContainer">
            <div class="healthBar"></div>
            <div id="enemyHealth" style="left: 0" class="healthLevel"></div>
          </div>

          <div class="energyBarBox">
            <div class="energyBar"></div>

            <!-- Enemy Energy -->
            <div id="enemyEnergy" class="energyLevel" style="right: 0"></div>
          </div>
        </div>
      </div>

      <div class="postGameContainer">
        <div style="z-index: 100" id="result"></div>
        <div style="z-index: 100" id="menu" class="container"></div>
        <div class="controlsContainer">
          <!-- movement -->

          <div class="controlsRow">
            <div class="controlsColumn">
              <div class="innerControlsRow">
                <button
                  ontouchstart="performTouchAction('up',true)"
                  class="controlBtn"
                >
                  <img class="btnLogo" src="../assets/up.svg" />
                </button>
              </div>
              <div class="innerControlsRow">
                <div class="controlsColumn">
                  <button
                    ontouchstart="performTouchAction('leftDown',true)"
                    ontouchend="performTouchAction('leftUp',true)"
                    class="controlBtn"
                  >
                    <img class="btnLogo" src="../assets/left.svg" />
                  </button>
                </div>
                <div class="controlsColumn">
                  <button
                    ontouchstart="performTouchAction('rightDown',true)"
                    ontouchend="performTouchAction('rightUp',true)"
                    class="controlBtn"
                  >
                    <img class="btnLogo" src="../assets/right.svg" />
                  </button>
                </div>
              </div>
            </div>

            <!-- fighting -->

            <div class="controlsColumn">
              <div class="attack2Row">
                <button
                  id="splAttackBtn"
                  ontouchstart="performTouchAction('splAttack',true)"
                  class="attack2Btn"
                >
                  <img class="attack2Logo" src="../assets/spl.svg" />
                </button>
                <button
                  id="attack2Btn"
                  ontouchstart="performTouchAction('attack2',true)"
                  class="attack2Btn"
                >
                  <img class="attack2Logo" src="../assets/attack2.svg" />
                </button>
              </div>
              <div class="innerControlsRow">
                <div class="controlsColumn">
                  <button
                    ontouchstart="performTouchAction('attack1',true)"
                    class="attack1Btn"
                  >
                    <img class="attack1Logo" src="../assets/attack1.svg" />
                  </button>
                </div>
                <div class="controlsColumn">
                  <button
                    ontouchstart="performTouchAction('blockDown',true)"
                    ontouchend="performTouchAction('blockUp')"
                    class="controlBtn"
                  >
                    <img class="blockLogo" src="../assets/block.svg" />
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="overlay"></div>
      <canvas id="mainCanvas"></canvas>
    </div>
  </div>
  <script src="../scripts/classes.js"></script>

  <script src="../scripts/characters.js"></script>
  <script src="../scripts/utils.js"></script>
  <script src="../scripts/index.js"></script>
</body>
