<head>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="../scripts/characters.js"></script>
  <script>
    $(document).ready(() => getCurrentPlayer());
  </script>
  <link rel="stylesheet" href="../styles/selectStyles.css" />
  <link rel="stylesheet" href="../styles/styles.css" />
</head>
<body>
  <div class="gameContainer">
    <div class="selectContainer">
      <div class="innerBox">
        <div class="rowContainer">
          <h1 style="text-align: center; text-transform: uppercase">
            Select your Character
            <h1 id="currentPlayer"></span>
          </h1>

          <div id="allCharacters" class="colContainer">
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../scripts/characterSelect.js"></script>
  <script src="../scripts/utils.js"></script>
  <script src="../scripts/classes.js"></script>
  <script src="../scripts/index.js"></script>
</body>
