* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  touch-action: manipulation;
}

body {
  background-color: black;
}

.title {
  color: white;
  text-align: center;
  text-transform: uppercase;
}

.selectContainer {
  width: 100%;
  height: 100%;
  background-image: url(../assets/welcome.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  justify-content: center;
  padding: 2rem;
}

.innerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rowContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.colContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.characterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: aliceblue;
  border: solid black 0.2rem;
  transition: transform 0.2s;
}

.characterBox:hover {
  transform: scale(1.2);
  border: solid yellow 0.2rem;
}

.characterImage {
  object-fit: cover;
  height: 5rem;
  width: 5rem;
  border: solid black 0.1rem;
}

.modeBox {
  padding: 1rem;
  border: solid 0.5rem black;
  border-radius: 1rem;
  margin: 0.5rem;
  transition: transform 0.2s;
}

.modeBox:hover {
  transform: scale(1.2);
  border-color: yellow;
}

.controlsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.key {
  color: darkslategray;
  margin-right: 5rem;
}

.controlsBox {
  background-image: url(../assets/scroll.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 7rem;
  border-radius: 1rem;
}

h1 {
  text-align: center;
}

.gameContainer {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  align-items: center;
  justify-content: center;
}
