* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}

body {
  background-color: black;
}

.gameContainer {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  align-items: center;
  justify-content: center;
}

.statusBar {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.statusBarContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.healthBar {
  background: linear-gradient(
    rgb(241, 41, 41),
    rgb(235, 129, 129),
    rgb(241, 41, 41)
  );
  border: solid 0.1rem white;

  height: 2rem;
  width: 100%;
}

.healthLevel {
  border: solid 0.1rem white;
  position: absolute;
  background: linear-gradient(
    rgb(41, 241, 41),
    rgb(203, 237, 203),
    rgb(41, 241, 41)
  );
  top: 0;
  bottom: 0;
  width: 100%;
}

.energyBarBox {
  position: relative;
  height: 2rem;
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.energyBar {
  background: linear-gradient(
    rgb(51, 41, 241),
    rgb(129, 154, 235),
    rgb(51, 41, 241)
  );
  height: 1rem;
  width: 100%;
}

.energyLevel {
  border: solid 0.1rem white;
  position: absolute;
  background: linear-gradient(
    rgb(231, 241, 41),
    rgb(244, 250, 173),
    rgb(231, 241, 41)
  );
  top: 0;
  bottom: 0;
  width: 100%;
  height: 1rem;
}

.energyBarContainer {
  position: relative;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.health {
  background-color: yellow;
}

.timer {
  background-color: rgb(0, 47, 255);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  width: 100px;
  flex-shrink: 0;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 0.5rem;
  color: white;
  font-family: sans-serif;
}

.postGameContainer {
  position: absolute;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 50px;
  flex-direction: column;
  z-index: 100;
}

.overlay {
  position: absolute;
  height: 100%;
  z-index: 50;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#gameBox {
  position: relative;
  display: inline-block;
}

#result {
  margin: 3rem;
  color: white;
  z-index: 100;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.btn {
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 5rem 0.5rem black;
  margin: 2rem;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

#countdown {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  transition: 1s;
  font-size: 0;
  font-weight: bolder;
  opacity: 50%;
  color: yellow;
  font-size: 0rem;
}

#message {
  position: absolute;
  left: 50%;
  top: 50%;
  display: inline-block;
  transform: translate(-50%, -50%);
  font-weight: bolder;
}

#countdownBox {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
}

.code {
  background-color: cadetblue;
  color: rgb(0, 0, 0);
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
  border: solid;
}

.code:hover {
  color: yellow;
}

transition {
  transform: scale(1.2);
}

.heading {
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.join {
  background-color: rgb(9, 107, 61);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: white;
  border-style: solid;
  padding: 1rem;
  transition: transform 0.2s;
}

.join:hover {
  transform: scale(1.1);
  border-color: yellow;
}

.codeInput {
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-style: solid;
  border-color: black;
}

.error {
  color: red;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.controlsContainer {
  position: absolute;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.controlsRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.controlsColumn {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.innerControlsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.controlBtn {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: white;
}

.attack2Row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.attack2Btn {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-style: solid;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attack1Btn {
  height: 7rem;
  width: 7rem;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border-style: solid;
  border-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnLogo {
  object-fit: contain;
  height: 4.5rem;
  text-align: center;
  opacity: 0.7;
  pointer-events: none;
}

.blockLogo {
  object-fit: contain;
  height: 3rem;
  text-align: center;
  opacity: 0.7;
  pointer-events: none;
}

.attack2Logo {
  object-fit: contain;
  height: 3rem;
  text-align: center;
  opacity: 0.7;
  pointer-events: none;
}

.attack1Logo {
  object-fit: contain;
  height: 4.5rem;
  text-align: center;
  opacity: 0.7;
  pointer-events: none;
}

.hidden {
  display: none;
}
